<div class="todo-container">
  <h1>ToDo List</h1>
  <mat-list class="mat-list">

    <ng-container [ngSwitch]="isLoading">
      <mat-spinner *ngSwitchCase="true"></mat-spinner>

      <ng-container *ngSwitchCase="false">
        <ng-container *ngFor="let item of todoListItems">
          <app-to-do-list-item [item]="item" (deleteItemEvent)="deleteItem($event)"></app-to-do-list-item>
        </ng-container>
      </ng-container>

    </ng-container>


  </mat-list>

  <mat-form-field>
    <mat-label>Add your new task</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button [disabled]="isDisabledButton" matSuffix mat-raised-button aria-label="Add" class="button button-add"
    (click)="addItem()">
      Add
    </button>
  </mat-form-field>
</div>
