.todo-container {
  width: 50%;
  margin-left: 10px;
}

mat-form-field {
  width: 100%;
  border-radius: 5px;
  button {
    margin-right: 7px !important;
  }
}

mat-spinner {
  left: 40%;
}

.flex {
  display: flex;
}

.description {
  padding-top: 55px;
}
