<app-header [title]="'Board'"></app-header>
<div class="flex">
    <div class="todo-container todo-items">
        <h2  i18n>Все</h2>
    <mat-list class="mat-list">
        <ng-container *ngFor="let item of tasks">
            <app-to-do-list-item
                    [item]="item"
                    [isView]="true"
            >
            </app-to-do-list-item>
        </ng-container>
    </mat-list>
    </div>

    <div class="todo-container todo-items">
        <h2  i18n>В работе</h2>
    <mat-list class="mat-list">
        <ng-container *ngFor="let item of tasks">
            <app-to-do-list-item *ngIf="item.status === 'InProgress'"
                    [item]="item"
                    [isView]="true"
            >
            </app-to-do-list-item>
        </ng-container>
    </mat-list>
    </div>

    <div class="todo-container todo-items">
        <h2 i18n>Выполнено</h2>
    <mat-list class="mat-list">
        <ng-container *ngFor="let item of tasks">
            <app-to-do-list-item *ngIf="item.status === 'Completed'"
                    [item]="item"
                    [isView]="true"
            >
            </app-to-do-list-item>
        </ng-container>
    </mat-list>
    </div>
</div>
