/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
  color: white !important;

  &:disabled {
    opacity: 0.5 !important;
  }
  &-add {
    background-color: #66bb6a !important;
  }
  &-delete {
    background-color: #ef5350 !important;
  }
}

mat-form-field {
  width: 100%;
  border-radius: 5px;
  button {
    margin-right: 7px !important;
  }
}
